# Dependencies
**/node_modules
**/.pnp
.pnp.*

# Next.js & Payload build outputs
**/.next
**/out
**/build
**/.payload
**/*.tsbuildinfo
**/next-env.d.ts

# Logs
**/npm-debug.log*
**/yarn-debug.log*

# Environment & local state
**/.env*
!**/.env.example
**/payload.db
**/public/media

# System files
.DS_Store
*.pem
